/* font */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* common css */

.hidden {
  display: none;
}

/* content css */

body {
  position: relative;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}

/* header */

header {
  position: fixed;
  width: 100%;
  height: 90px;
  margin-left: 90px;
  z-index: 30;
}

header .logo {
  width: 200px;
  height: 35px;
  margin: 30px 0 0 50px;
  background: url('../img/header/logo.png') no-repeat top;
  cursor: pointer;
}

header .gnb {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 140px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
}

header .gnb li {
  float: left;
  font-size: 16px;
}

header .gnb li a {
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: border 0.5s;
}

header .gnb li:hover a {
  border-bottom: 2px solid #fff;
}

header .gnb li+li {
  margin-left: 30px;
}

header .tnb {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 180px;
}

header .tnb li {
  float: left;
  opacity: 0.7;
  font-size: 13px;
}

header .tnb li a {
  display: block;
  padding: 5px 10px;
}

header .tnb li+li {
  margin-left: 10px;
}

header .tnb li:nth-child(n+3) {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

header .tnb li:nth-child(3) {
  opacity: 1;
}

header .search {
  position: absolute;
  top: 10px;
  right: 140px;
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

header .search::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../img/header/ic_search.png') no-repeat center;
  width: 14px;
  height: 14px;
}

/* .left-menu-bar */

.left-menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 30;
}

.left-menu-bar .menu-btn {
  position: relative;
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.left-menu-bar .menu-btn span {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  height: 1px;
  background: #fff;
}

.left-menu-bar .menu-btn span::before,
.left-menu-bar .menu-btn span::after {
  content: '';
  position: absolute;
  left: -5px;
  width: 30px;
  height: 1px;
  background: #fff;
  transition: all 0.5s;
}

.left-menu-bar .menu-btn span::before {
  top: -10px;
  background: #fff;
}

.left-menu-bar .menu-btn span::after {
  top: 10px;
  background: #fff;
}

.left-menu-bar .menu-btn:hover span::before,
.left-menu-bar .menu-btn:hover span::after {
  left: 0;
}

.left-menu-bar .follow,
.left-menu-bar .journal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  line-height: 90px;
  text-align: center;
  white-space: nowrap;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.left-menu-bar .follow {
  position: absolute;
  bottom: 40%;
  height: 160px;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

.left-menu-bar .journal {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

.left-menu-bar .follow span::after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: 13px;
  background: url('../img/header/cicon.svg') no-repeat center/cover;
  width: 28px;
  height: 28px;
  line-height: 90px;
  transition: all 0.3s;
  opacity: 0.6;
}

.left-menu-bar .follow:hover span::after,
.left-menu-bar .follow.active span::after {
  transform: rotate(45deg);
  opacity: 1;
}

.left-menu-bar .follow-container {
  position: absolute;
  bottom: 40%;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 180px;
  background: #222;
  padding: 20px 0 0 90px;
}

.left-menu-bar .follow-container {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 14px;
}

.left-menu-bar .follow-container .sns {
  float: left;
  padding-top: 55px;
  margin-left: 55px;
  width: 20%;
}

.left-menu-bar .follow-container .title {
  margin-right: 30px;
  line-height: 40px;
}

.left-menu-bar .follow-container .sns li {
  float: left;
  margin-right: 10px;
}

.left-menu-bar .follow-container .sns ul {
  display: inline-block;
  vertical-align: middle;
}

.left-menu-bar .follow-container .mailing-service {
  float: left;
  padding-top: 55px;
  margin-left: 60px;
  width: 70%;
}

.left-menu-bar .follow-container .mailing-service input,
.left-menu-bar .follow-container .mailing-service button,
.left-menu-bar .follow-container .mailing-service .checkbox-container {
  height: 38px;
  border: none;
}

.left-menu-bar .follow-container .mailing-service input[type=email] {
  padding-left: 5px;
  width: 220px;
}

.left-menu-bar .follow-container .mailing-service button {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.left-menu-bar .follow-container form,
.left-menu-bar .follow-container .checkbox-container {
  display: inline-block;
}

.left-menu-bar .follow-container .checkbox-container {
  position: relative;
  box-sizing: border-box;
  background: #ccc;
  height: 38px;
  vertical-align: middle;
  padding: 7px 10px 0 50px;
  color: #000;
  font-weight: 400;
}

.left-menu-bar .follow-container .checkbox-container input[type=checkbox] {
  position: absolute;
  left: 20px;
  top: 7px;
  width: 18px;
  height: 18px;
}

.left-menu-bar .follow-container .checkbox-container a {
  margin-left: 20px;
  padding-bottom: 1px;
  border-bottom: 1px solid #000000;
}

/* .right-menu-bar */

.right-menu-bar {
  position: fixed;
  top: 45%;
  right: 0;
  width: 90px;
  text-align: right;
  font-size: 12px;
  z-index: 20;
}

.right-menu-bar li {
  position: relative;
  color: #fff;
  margin: 0 10px 10px 0;
}

.right-menu-bar li::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  background: #fff;
}

.right-menu-bar li a {
  margin-right: 10px;
}

.right-menu-bar li.active a {
  position: relative;
  padding: 2px 5px;
  background: #fff;
  color: #000;
}

/* .right-menu-bar li.active a::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: red;
} */

/* scroll down */

@keyframes scrollDown {
  0% {
    bottom: 20px
  }

  50% {
    bottom: 15px
  }

  100% {
    bottom: 20px
  }
}

.btn-scroll-down {
  position: fixed;
  bottom: 20px;
  left: 45%;
  text-align: center;
  z-index: 10;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  animation: scrollDown 2s infinite;
}

.btn-scroll-down i {
  font-size: 24px;
}

/* visual */

.visual-slide {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100vh;
}

.visual-slide .slide-area {
  width: 100%;
  overflow-x: hidden;
}

.visual-slide .slide-area ul {
  width: 610%;
  overflow: visible;
  /* margin-left: 0; */
}

.visual-slide li {
  position: relative;
  float: left;
  height: 100vh;
}

.visual-slide .slide-area li img {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

@keyframes leftToRight {
  0% {
    left: 50%
  }

  50% {
    left: 51%
  }

  100% {
    left: 50%
  }
}

.visual-slide .slide-area .text-area {
  position: absolute;
  top: 32%;
  left: 50%;
  color: #fff;
  font-size: 18px;
}

.visual-slide .slide-area .type {
  display: inline;
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #fff;
}

.visual-slide .slide-area .title {
  margin: 40px 0 30px;
  font-size: 54px;
  line-height: 1.2;
}

.visual-slide .slide-area li:nth-child(1) a,
.visual-slide .slide-area li:nth-child(2) a,
.visual-slide .slide-area li:nth-child(6) a {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li:nth-child(3) a {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li:nth-child(4) a,
.visual-slide .slide-area li:nth-child(5) a {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li a:hover {
  animation: leftToRight 1s;
  animation-direction: alternate;
}

.visual-slide .slide-tab {
  position: absolute;
  left: 220px;
  bottom: 120px;
  width: 450px;
  height: 70px;
}

.visual-slide .slide-tab ul li {
  width: 75px;
  height: 100%;
  font-size: 18px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.visual-slide .slide-tab ul li.active {
  color: #fff;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

/* plan */

.plan {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.plan .content-slide-wrap {
  width: 100%;
  overflow: hidden;
}

.plan .content {
  width: 500%;
  height: 100vh;
  /* margin-left: -100%; */
  white-space: nowrap;
}

.plan .content li {
  width: 100vw;
  float: left;
  box-sizing: border-box;
  padding: 90px 90px 0 90px;
  height: 100%;
}

.plan .content .left,
.plan .content .right {
  float: left;
}

.plan .content .left {
  margin: 30px 50px 0 40px;
  width: 30%;
}

.plan .content .right {
  position: relative;
  width: calc(69% - 90px);
  height: 85%;
  left: -50px;
  background: red;
}

.plan .content li:nth-child(1) .right {
  background: url(../img/plan/plan01.jpg) no-repeat top/contain;
}

.plan .content li:nth-child(2) .right {
  background: url(../img/plan/plan02.jpg) no-repeat left/contain;
}

.plan .content li:nth-child(3) .right {
  background: url(../img/plan/plan03.jpg) no-repeat top/cover;
}

.plan .content li:nth-child(4) .right {
  background: url(../img/plan/plan04.jpg) no-repeat top/cover;
}

.plan .type {
  display: inline;
  padding-bottom: 10px;
  font-size: 20px;
  color: #909090;
  border-bottom: 1px solid #000;
}

.plan .title {
  margin: 30px 0;
  font-size: 52px;
  line-height: 1.2;
}

.plan .date {
  margin: 30px 0 100px;
  font-size: 24px;
  color: #909090;
}

.plan .text {
  margin: 30px 0 100px;
  font-size: 24px;
  color: #909090;
}

.plan .button {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 15px 20px;
  color: #909090;
  border: 1px solid #909090;
}

.plan .button::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/common/ic_arrow4.png') no-repeat center;
  width: 25px;
  height: 9px;
}

.plan .listNum {
  position: absolute;
  bottom: 30px;
  right: 150px;
}

.plan .listNum li {
  float: left;
  color: #909090;
  padding: 20px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.4);
  cursor: pointer;
}

.plan .listNum li.active {
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
}