/* font */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* common css */

.hidden {
  display: none;
}

/* content css */

body {
  position: relative;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}

/* header */

header {
  position: fixed;
  width: 100%;
  height: 90px;
  margin-left: 90px;
  z-index: 30;
}

header .logo {
  width: 200px;
  height: 35px;
  margin: 30px 0 0 50px;
  background: url('../img/header/logo.png') no-repeat top;
  cursor: pointer;
}

header.active .logo {
  background: url('../img/header/logo.png') no-repeat bottom;
}

header .gnb {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 140px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 300;
}

header.active .gnb {
  color: #000;
}

header .gnb li {
  float: left;
  font-size: 16px;
}

header .gnb li a {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: border 0.5s;
}

header .gnb li:hover a {
  border-bottom: 2px solid #fff;
}

header.active .gnb li:hover a {
  border-bottom: 2px solid #222;
}

header .gnb li+li {
  margin-left: 30px;
}

header .tnb {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 180px;
}

header.active .tnb {
  color: #222;
}

header .tnb li {
  float: left;
  opacity: 0.7;
  font-size: 13px;
}

header .tnb li a {
  display: block;
  padding: 5px 10px;
}

header .tnb li+li {
  margin-left: 10px;
}

header .tnb li:nth-child(n+3) {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

header.active .tnb li:nth-child(n+3) {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

header .tnb li:nth-child(3) {
  opacity: 1;
}

header .search {
  position: absolute;
  top: 10px;
  right: 140px;
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

header.active .search {
  background: rgba(0, 0, 0, 0.2);
}

header .search::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../img/header/ic_search.png') no-repeat center;
  width: 14px;
  height: 14px;
}

/* .left-menu-bar */

.left-menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 30;
}

.left-menu-bar.active {
  color: #222;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.left-menu-bar .menu-btn {
  position: relative;
  width: 100%;
  height: 90px;
  background: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.left-menu-bar .menu-btn span {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  height: 1px;
  background: #fff;
}

.left-menu-bar.active .menu-btn span {
  background: #000;
}

.left-menu-bar .menu-btn span::before,
.left-menu-bar .menu-btn span::after {
  content: '';
  position: absolute;
  left: -5px;
  width: 30px;
  height: 1px;
  background: #fff;
  transition: all 0.5s;
}

.left-menu-bar.active .menu-btn span::before,
.left-menu-bar.active .menu-btn span::after {
  background: #000;
}

.left-menu-bar .menu-btn span::before {
  top: -10px;
  background: #fff;
}

.left-menu-bar .menu-btn span::after {
  top: 10px;
  background: #fff;
}

.left-menu-bar .menu-btn:hover span::before,
.left-menu-bar .menu-btn:hover span::after {
  left: 0;
}

.left-menu-bar .follow,
.left-menu-bar .journal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  line-height: 90px;
  text-align: center;
  white-space: nowrap;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
}

.left-menu-bar.active .follow,
.left-menu-bar.active .journal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left-menu-bar .follow {
  position: absolute;
  bottom: 40%;
  height: 160px;
  padding-bottom: 20px;
  letter-spacing: -1px;
}

.left-menu-bar .journal {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

.left-menu-bar .follow span::after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: 13px;
  background: url('../img/header/cicon.svg') no-repeat center/cover;
  width: 28px;
  height: 28px;
  line-height: 90px;
  transition: all 0.3s;
  opacity: 0.6;
}

.left-menu-bar.active .follow span::after {
  background: url('../img/header/cicon_b.svg') no-repeat center/cover;
}

.left-menu-bar .follow:hover span::after,
.left-menu-bar .follow.active span::after {
  transform: rotate(45deg);
  opacity: 1;
}

.left-menu-bar .follow-container {
  position: absolute;
  bottom: 40%;
  left: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 180px;
  background: #222;
  padding: 20px 0 0 90px;
}

.left-menu-bar .follow-container {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 14px;
}

.left-menu-bar .follow-container .sns {
  float: left;
  padding-top: 55px;
  margin-left: 55px;
  width: 20%;
}

.left-menu-bar .follow-container .title {
  margin-right: 30px;
  line-height: 40px;
}

.left-menu-bar .follow-container .sns li {
  float: left;
  margin-right: 10px;
}

.left-menu-bar .follow-container .sns ul {
  display: inline-block;
  vertical-align: middle;
}

.left-menu-bar .follow-container .mailing-service {
  float: left;
  padding-top: 55px;
  margin-left: 60px;
  width: 70%;
}

.left-menu-bar .follow-container .mailing-service input,
.left-menu-bar .follow-container .mailing-service button,
.left-menu-bar .follow-container .mailing-service .checkbox-container {
  height: 38px;
  border: none;
}

.left-menu-bar .follow-container .mailing-service input[type=email] {
  padding-left: 5px;
  width: 220px;
}

.left-menu-bar .follow-container .mailing-service button {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.left-menu-bar .follow-container form,
.left-menu-bar .follow-container .checkbox-container {
  display: inline-block;
}

.left-menu-bar .follow-container .checkbox-container {
  position: relative;
  box-sizing: border-box;
  background: #ccc;
  height: 38px;
  vertical-align: middle;
  padding: 7px 10px 0 50px;
  color: #000;
  font-weight: 400;
}

.left-menu-bar .follow-container .checkbox-container input[type=checkbox] {
  position: absolute;
  left: 20px;
  top: 7px;
  width: 18px;
  height: 18px;
}

.left-menu-bar .follow-container .checkbox-container a {
  margin-left: 20px;
  padding-bottom: 1px;
  border-bottom: 1px solid #000000;
}

/* .right-menu-bar */

.right-menu-bar {
  position: fixed;
  top: 45%;
  right: 0;
  width: 90px;
  text-align: right;
  font-size: 12px;
  z-index: 20;
}

.right-menu-bar li {
  position: relative;
  color: #fff;
  margin: 0 10px 10px 0;
}

.right-menu-bar.active li {
  color: #000;
}

.right-menu-bar li::after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  background: #fff;
}

.right-menu-bar.active li::after {
  background: #222;
}

.right-menu-bar li a {
  margin-right: 10px;
}

.right-menu-bar li.active a {
  position: relative;
  padding: 2px 5px;
  background: #fff;
  color: #000;
}

/* .right-menu-bar li.active a::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: red;
} */

/* scroll down */

@keyframes scrollDown {
  0% {
    bottom: 20px
  }

  50% {
    bottom: 15px
  }

  100% {
    bottom: 20px
  }
}

.btn-scroll-down {
  position: fixed;
  bottom: 20px;
  left: 45%;
  text-align: center;
  z-index: 10;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
  animation: scrollDown 2s infinite;
}

.btn-scroll-down i {
  font-size: 24px;
}

/* visual */

.visual-slide {
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 100vh;
}

.visual-slide .slide-area {
  width: 100%;
  overflow-x: hidden;
}

.visual-slide .slide-area ul {
  width: 610%;
  overflow: visible;
  /* margin-left: 0; */
}

.visual-slide li {
  position: relative;
  float: left;
  height: 100vh;
}

.visual-slide .slide-area li img {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

@keyframes leftToRight {
  0% {
    left: 50%
  }

  50% {
    left: 51%
  }

  100% {
    left: 50%
  }
}

.visual-slide .slide-area .text-area {
  position: absolute;
  top: 32%;
  left: 50%;
  color: #fff;
  font-size: 18px;
}

.visual-slide .slide-area .type {
  display: inline;
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #fff;
}

.visual-slide .slide-area .title {
  margin: 40px 0 30px;
  font-size: 54px;
  line-height: 1.2;
}

.visual-slide .slide-area li:nth-child(1) a,
.visual-slide .slide-area li:nth-child(2) a,
.visual-slide .slide-area li:nth-child(6) a {
  position: absolute;
  top: 44%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li:nth-child(3) a {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li:nth-child(4) a,
.visual-slide .slide-area li:nth-child(5) a {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url('../img/header/cicon.svg') no-repeat center;
}

.visual-slide .slide-area li a:hover {
  animation: leftToRight 1s;
  animation-direction: alternate;
}

.visual-slide .slide-tab {
  position: absolute;
  left: 220px;
  bottom: 120px;
  width: 450px;
  height: 70px;
}

.visual-slide .slide-tab ul li {
  width: 75px;
  height: 100%;
  font-size: 18px;
  line-height: 70px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.visual-slide .slide-tab ul li.active {
  color: #fff;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}

/* plan */

.plan {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.plan .content-slide-wrap {
  width: 100%;
  overflow: hidden;
}

.plan .content {
  width: 500%;
  height: 100vh;
  margin-left: -100%;
}

.plan .content li {
  width: 100vw;
  float: left;
  box-sizing: border-box;
  padding: 90px 90px 0 90px;
  height: 100%;
}

.plan .content .left,
.plan .content .right {
  float: left;
}

.plan .content .left {
  margin: 30px 50px 0 40px;
  width: 30%;
}

.plan .content .right {
  position: relative;
  width: calc(69% - 90px);
  height: 85%;
  left: -50px;
  background: red;
}

.plan .content li:nth-child(1) .right {
  background: url(../img/plan/plan01.jpg) no-repeat top/contain;
}

.plan .content li:nth-child(2) .right {
  background: url(../img/plan/plan02.jpg) no-repeat left/contain;
}

.plan .content li:nth-child(3) .right {
  background: url(../img/plan/plan03.jpg) no-repeat top/cover;
}

.plan .content li:nth-child(4) .right {
  background: url(../img/plan/plan04.jpg) no-repeat top/cover;
}

.online-edu .type,
.plan .type {
  display: inline;
  padding-bottom: 10px;
  font-size: 20px;
  color: #909090;
  border-bottom: 1px solid #000;
}

.online-edu .title,
.plan .title {
  margin: 30px 0;
  font-size: 52px;
  line-height: 1.2;
}

.plan .date {
  margin: 30px 0 100px;
  font-size: 24px;
  color: #909090;
}

.online-edu .text,
.plan .text {
  margin: 30px 0 100px;
  font-size: 24px;
  color: #909090;
}

.button {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 15px 20px;
  color: #909090;
  border: 1px solid #909090;
  transition: all 0.5s;
}

.button::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../img/common/ic_arrow4.png') no-repeat center;
  width: 25px;
  height: 9px;
  transition: right 0.5s;
}

.button:hover {
  border: 1px solid #000;
  color: #000;
}

.button:hover::after {
  right: 10px;
}

.listNum {
  position: absolute;
}

.plan .listNum {
  bottom: 30px;
  right: 150px;
}

.listNum li {
  float: left;
  color: #909090;
  padding: 20px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.4);
  cursor: pointer;
}

.listNum li.active {
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

/* online-edu */

.online-edu {
  position: relative;
  width: 100%;
  height: 100vh;
}

.online-edu .slide-area {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.online-edu .slide-content {
  width: 300%;
  height: 100vh;
  margin-left: -100%;
}

.online-edu .slide-content li {
  float: left;
  width: 100vw;
  height: 100vh;
  padding: 90px 0;
  overflow: hidden;
}

.online-edu .slide-content li .left,
.online-edu .slide-content li .right {
  float: left;
}

.online-edu .slide-content li .left {
  position: relative;
  width: 60vw;
  height: 85%;
}

.online-edu .slide-content li .right {
  width: 40vw;
  padding-top: 100px;
}

.online-edu .slide-content li:nth-child(1) .left::after {
  content: '';
  position: absolute;
  top: -42px;
  left: -90px;
  width: 100%;
  height: 100%;
  background: url('../img/online-edu/online01.jpg') no-repeat top/cover;
}

.online-edu .slide-content li:nth-child(2) {
  margin-left: -20px;
}

.online-edu .slide-content li:nth-child(2) .left::after {
  content: '';
  position: absolute;
  top: -42px;
  left: -150px;
  width: 100%;
  height: 100%;
  background: url('../img/online-edu/online02.jpg') no-repeat top/cover;
}

.online-edu .listNum {
  bottom: 100px;
  right: 480px;
}

/* have item */

.have-item {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 90px 0;
  text-align: center;
}

.have-item h2,
.alert h2,
.info h2 {
  display: inline;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  font-size: 20px;
}

.have-item .inner {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
}

.have-item .inner .line-one,
.have-item .inner .line-two,
.have-item .inner .line-three {
  float: left;
  width: 25%;
  height: 100%;
  text-align: left;
}

.have-item .inner .line-one {
  margin-right: 5%;
}

.have-item .inner .line-one div:first-child,
.have-item .inner .line-three div:first-child {
  margin-bottom: 30px;
}

.have-item .inner .line-two {
  width: 40%;
}

.have-item .inner .line-two img {
  width: 100%;
}

.have-item .inner .line-three {
  margin-left: 5%;
}

.have-item .inner .title {
  font-weight: 500;
}

.have-item .inner .text {
  font-size: 14px;
  color: #909090;
}

/* alert */

.alert {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 90px 0;
  text-align: center;
}

.alert .inner,
.info .inner {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}

.alert h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.alert .left,
.alert .right,
.info .left,
.info .right {
  float: left;
  width: 46%;
}

.alert .left,
.info .left {
  margin-right: 8%;
}

/* board */
.alert .board {
  position: relative;
  height: 350px;
  margin-bottom: 50px;
}

.alert .tab-title {
  display: inline-block;
  width: 120px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #222;
}

.alert .board .tab ul {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.alert .board .tab.active ul {
  display: inline-block;
}

.alert .board .tab .tab-title {
  cursor: pointer;
  transition: all 0.5s;
}

.alert .board .tab.active .tab-title {
  background: #222;
  color: #ccc;
}

.alert .board .tab-title:hover {
  background: #222;
  color: #ccc;
}

.alert .board .tab .tab-title {
  position: absolute;
  top: 0;
  left: 0;
}

.alert .board .tab2 .tab-title {
  left: 120px;
}

.alert .board .tab3 .tab-title {
  left: 240px;
}

.alert .board .tab4 .tab-title {
  left: 360px;
}

.alert .board .tab ul {
  position: absolute;
  top: 45px;
  width: 100%;
  border-top: 1px solid #000;
  padding-top: 20px;
}

.alert .board .tab ul li {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.alert .board .tab ul li.notice-icon {
  font-weight: 500;
}

.alert .board .tab ul li.notice-icon::before {
  content: '공지';
  width: 20px;
  padding: 2px 5px;
  border: 1px solid #222;
  font-size: 14px;
}

.alert .board .tab ul li .date {
  float: right;
  margin-right: 10px;
  font-size: 14px;
  color: #222;
}

/* visual-news, .photo-gallery */

.alert .visual-news,
.alert .photo-gallery {
  height: 200px;
}

.alert .visual-news ul,
.alert .photo-gallery ul {
  width: 100%;
}

.alert .visual-news ul li,
.alert .photo-gallery ul li {
  float: left;
  width: 30%;
}

.alert .visual-news ul li+li,
.alert .photo-gallery ul li+li {
  margin-left: 5%;
}

.alert .visual-news img {
  width: 80%;
}

.alert .photo-gallery img {
  width: 100%;
  min-height: 135px;
}

.alert .visual-news .text,
.alert .photo-gallery .text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* popup */

.popup {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.popup ul {
  width: 600%;
  height: 340px;
  overflow: hidden;
}

.popup ul li {
  float: left;
}

.popup ul li img {
  max-width: 100%;
  float: left;
}

.popup .img-slide-button {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100px;
  height: 20px;
}

.popup .img-slide-button li {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.popup .img-slide-button li.active {
  background: #000;
}

.popup .img-slide-button li+li {
  margin-left: 5.5px;
}

/* info */

.info {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 90px 0;
  text-align: center;
  background: #515151;
  color: #fff;
}

.info h2 {
  border-bottom: 1px solid #fff;
}

.info .title {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}

.info .inner div div:first-child {
  height: 250px;
}

.info .title::before {
  position: absolute;
  left: 0;
  bottom: 30%;
  content: '';
  background: url('../img/info/ic_g1.png') no-repeat center;
  width: 22px;
  height: 22px;
}

.info .title.two::before {
  background: url('../img/info/ic_g3.png') no-repeat center;
  width: 30px;
  height: 21px;
}

.info .title.three::before {
  background: url('../img/info/ic_g2.png') no-repeat center;
  width: 23px;
  height: 21px;
}

.info .title.four::before {
  background: url('../img/info/ic_g4.png') no-repeat center;
  width: 30px;
  height: 21px;
}

.info .inner .left div:nth-child(2) .text {
  padding-left: 40px;
}

.info .inner div div .text {
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.info .inner div div .text p {
  float: left;
  width: 40%;
  box-sizing: border-box;
  padding: 0 15px 0 40px;
  margin: 10 0;
}

.info .inner div div .text p:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.info .list li {
  position: relative;
  word-break: keep-all;
  padding-left: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.info .list li::before {
  content: 'ㆍ';
  position: absolute;
  top: 0;
  left: 5px;
}

.info .btn-area {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.info .button {
  border: 1px solid #909090;
  margin-right: 5px;
}

.info .button:hover {
  color: #fff;
  border: 1px solid #fff;
}

.info .button::before {
  content: '';
  position: absolute;
  left: 30px;
  background: url('../img/info/ic_q1.png') no-repeat center;
  width: 34px;
  height: 22px;
}

.info .button:nth-child(2)::before {
  background: url('../img/info/ic_q2.png') no-repeat center;
  width: 23px;
  height: 23px;
}

.info .button:nth-child(2)::before {
  background: url('../img/info/ic_q3.png') no-repeat center;
  width: 19px;
  height: 24px;
}

.info .button::after {
  background: url('../img/common/ic_arrow3.png') no-repeat center;
}

/* footer */

footer .top {
  border-bottom: 1px solid #ccc;
}

footer .inner {
  width: 85%;
  margin: 0 auto;
}

footer .top ul {
  overflow: hidden;
}

footer .top li {
  float: left;
  width: 14.2%;
  padding: 30px 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

footer .bottom {
  padding: 50px 0 30px;
  overflow: hidden;
}

footer .bottom .left {
  float: left;
  color: #222;
  font-weight: 100;
}

footer .bottom .left {
  margin-top: 10px;
}

footer .bottom .left address {
  position: relative;
  display: inline;
  margin-right: 20px;
}

footer .bottom .left address::after {
  position: absolute;
  right: -10px;
  content: '|';
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

footer .bottom .right {
  position: relative;
  right: -50px;
  float: right;
  color: #222;
  font-weight: 100;
}

footer .bottom .right li {
  position: relative;
  float: left;
}

footer .bottom .right .select-box-area li+li {
  margin-left: 20px;
}

footer .bottom .right .select-box-area,
footer .bottom .right .etc-menu {
  overflow: hidden;
  width: 100%;
}

footer .bottom .right .select-box-area li {
  float: left;
  width: 30%;
  margin-bottom: 10px;
}

footer .bottom .right .select-box-area li select {
  width: 100%;
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
}

footer .bottom .right .etc-menu li+li {
  margin-left: 37px;
}

footer .bottom .right .etc-menu li::before {
  position: absolute;
  right: -20px;
  content: '|';
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

footer .bottom .right li:last-child:before {
  content: '';
}

footer .bottom .left .copy {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}